Flask==3.0.0
flask-pymongo==2.3.0
pymongo==4.6.1
Werkzeug==3.0.1
python-dotenv==1.0.0

# Librerías para detección de IA (descomenta cuando implementes)
# opencv-python==4.8.1.78
# numpy==1.24.3
# tensorflow==2.15.0
# ultralytics==8.0.196  # Para YOLO v8

# Librerías opcionales para mejorar funcionalidad
Pillow==10.1.0
